.Logo {
    width: 15%;
}
.navbar {
    background-color:rgb(233,156,142);
}
.navbar-toggler {
   background-color: rgb(251, 8, 8); 
}

body {
    background-color: rgb(207, 195, 194);
}
.text {
    float:left;
    position:absolute;
    width:80%;
    margin-left: 10%;
}
.para {
    text-indent: 30px;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -webkit-hyphens:auto;
    hyphens:auto;
    word-wrap:break-word;
    }   
.name {
    text-align: center;
}
.gallery {
    margin: 10px 50px;
}
.gallery img{
    transition: 0.6s;
    padding: 15px;
    width: 200px;
}
.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}
.nav-item {
    text-transform: uppercase;
    text-shadow: 2px 2px 3px white;
    text-emphasis-color:black;
}